@import url('https://fonts.googleapis.com/css2?family=Tektur:wght@400..900&display=swap');

* {
    margin: 0;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

a {
    text-decoration: none;
    color: white;
}

li {
    list-style: none;
}

input,
button,
textarea,
select {
    font: inherit;
}

html {
    box-sizing: border-box;
    height: 100%;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    font-family: "Tektur";
    font-weight: 400;
    color: white;
    background-color: #1f1f1f;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

h1 {
    font-size: 52px;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

footer {
    display: flex;
    justify-content: center;
    padding-bottom: 10px;
    padding-top: 10px;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

.first-sec {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 20px;
}

.first-sec div {
    width: 500px;
}

input {
    border-radius: 15px;
    border: 0;
    font-size: 30px;
    width: 100px;
    text-align: center;
    height: 50px;
}

.plus{
    font-size: 50px;
    line-height: 200%;
    text-align: center;
}

.div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.div p {
    margin-bottom: 20px;
    font-size: 40px;
    font-weight: 600;
}

.ans {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
}

.second-sec {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    
}

.block {
    width: 1000px;
    border-radius: 20px;
    -webkit-box-shadow: 0px 0px 16px 2px rgba(69, 69, 69, 1) inset;
    -moz-box-shadow: 0px 0px 16px 2px rgba(69, 69, 69, 1) inset;
    box-shadow: 0px 0px 16px 2px rgba(69, 69, 69, 1) inset;
    padding: 20px;
}

.second-sec span {
    font-size: 30px;
}

.second-sec button {
    font-size: 30px;
    font-weight: 500;
    border-radius: 15px;
    padding: 10px 40px;
    cursor: pointer;
    color: #1f1f1f;
    border: none;
    transition: box-shadow 0.3s ease, transform 0.3s ease;
}

.second-sec button:hover {
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.3);
    transform: translateY(-3px);
}

.second-sec button:active {
    opacity: 75%;
}

@media screen and (max-width: 431px) {
    h1 {
        font-size: 36px;
        text-align: center;
    }

    header {
        padding: 20px;
    }

    main {
        gap: 20px;
    }

    .first-sec {
        display: flex;
        flex-direction: column;
        gap: 10px;   
    }

    .first-sec div {
        width: auto;
    }

    input {
        border-radius: 15px;
        border: 0;
        font-size: 20px;
        width: 100px;
        text-align: center;
        height: 40px;
    }

    .div {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .div p {
        margin-bottom: 10px;
        font-size: 25px;
        font-weight: 600;
    }

    .plus {
        line-height: 100%;
        font-size: 25px;
    }

    .ans {
        font-size: 25px;
    }
    
    .second-sec {
        gap: 20px;
    }

    .second-sec span {
        font-size: 25px;
    }

    .block {
        width: 325px;
    }   

    .second-sec button {
        font-size: 20px;
        padding: 8px 20px;
    }
}